<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.application.class.parent_name %></title>
    <% unless defined?(@error_page) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% # dont load turbolinks twice when we render error pages %>
    <% # casues Uncaught Error: rails-ujs has already been loaded! %>
    <%= javascript_include_tag 'rails_base/application', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <%= stylesheet_link_tag    'rails_base/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="https://unpkg.com/sticky-table-headers"></script>
  </head>

  <body>
    <script type="text/javascript">
      // Load at top so available for rest of body oddy
      function set_cookie(name, value, path ) {
        path ||= '/'
        document.cookie = `${name}=${value}; path=${path}`
      }

      function get_cookie(name) {
        var cookie = document.cookie
        return cookie.split('; ').find(row => row.startsWith(`${name}=`)).split('=')[1];
      }

      function modify_layout(){
        if(viewport_probable_mobile()){
          $('#_body_base_container').addClass('p-0')
        } else {
          $('#_body_base_container').removeClass('p-0')
        }
      }

      <% RailsBase::ApplicationController::VIEWPORT_SIZES.each do |name, max_width| %>
        function viewport_at_least_<%= name %>(){
          return getViewportWidth() >= <%= max_width || 99_999 %>

        }
        <% if name == RailsBase::ApplicationController::VIEWPORT_MOBILE_MAX %>
        <% puts "Rendering #{name} for viewport_probable_mobile" %>

        <% end %>
      <% end %>

      <%
        k = RailsBase::ApplicationController::VIEWPORT_MOBILE_MAX
        size = RailsBase::ApplicationController::VIEWPORT_SIZES[k] || 99_999
      %>
      function viewport_probable_mobile(){
        return getViewportWidth() <= <%= size  %>
      }

      function getViewportWidth() {
        // https://stackoverflow.com/a/8876069
        return Math.max(
          document.documentElement.clientWidth,
          window.innerWidth || 0
        )
      }
    </script>

    <% rails_base_alert = "alertid-#{(10**10*rand).to_i}" %>
    <% rails_base_success = "successid-#{(10**10*rand).to_i}"%>
    <div id='_body_base_container' class="container-fluid">
      <% if current_user %>
        <%= render partial: 'rails_base/shared/logged_in_header'%>
      <% else %>
        <%= render partial: 'rails_base/shared/logged_out_header'%>
      <% end %>
      <% if notice %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <div id='<%= rails_base_success %>' class="alert alert-success alert-dismissible fade show" role="alert" style='display:none'>
        <div class='text'></div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id='<%= rails_base_alert %>' class="alert alert-danger alert-dismissible fade show" role="alert" style='display:none'>
        <div class='text'></div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="p-1">
        <%= yield %>
      </div>

      <% if RailsBase.appearance.enable_footer? %>
        <% if RailsBase.appearance.sticky_footer? %>
        <div style="margin-top: 50px"></div>
        <footer class="text-center fixed-bottom">
        <% else %>
        <footer class="text-center">
        <% end %>
          <!-- Copyright -->
          <div class="text-center p-2 <%= appearance_text_class %>">
            <%= raw RailsBase.appearance.footer_html %>
          </div>
          <!-- Copyright -->
        </footer>
      <% end %>
    </div>

    <script>
      modify_layout();
      function _rails_base_display_success(msg){
        $('#<%= rails_base_alert %>').hide()
        $('#<%= rails_base_success %> .text').text(msg)
        $('#<%= rails_base_success %>').show()
      };

      function _rails_base_display_alert(msg){
        $('#<%= rails_base_success %>').hide()
        $('#<%= rails_base_alert %> .text').text(msg)
        $('#<%= rails_base_alert %>').show()
      };

      function _rails_base_hide_displays(){
        $('#<%= rails_base_alert %>').hide()
        $('#<%= rails_base_success %>').hide()
      }

      <%
        # dont load these when error page happens. The full stack of librarires are not
        # rendered and jquery/bootstrap are missing
      %>
      <% unless defined?(@error_page) %>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('.b-tooltip').tooltip();
        // https://github.com/jmosbech/StickyTableHeaders
        $('.tableFixHead').stickyTableHeaders();

        // Attempt to set timezone on every request
        set_cookie('<%= RailsBase::ApplicationController::TIMEZONE_OFFSET_COOKIE %>', new Date().getTimezoneOffset())
      });
      <% end %>
      <% if Rails.env == 'production' %>
      // Disable console logging
      console.log = function() {}
      <% end %>

      function goBack() {
        window.history.back();
      }

      $("table select").addClass('w-auto')
    </script>
  </body>
</html>
