<!DOCTYPE html>
<html>
  <head>
    <% if user_signed_in? %>
    <title><%= RailsBase.config.app.web_name_logged_in(current_user) %></title>
    <% else %>
    <title><%= RailsBase.config.app.web_name_logged_out %></title>
    <% end %>
    <% unless defined?(@error_page) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% # dont load turbolinks twice when we render error pages %>
    <% # casues Uncaught Error: rails-ujs has already been loaded! %>
    <%= javascript_include_tag 'rails_base/application', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <%= stylesheet_link_tag    'rails_base/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="https://unpkg.com/sticky-table-headers"></script>
    <script src="https://kit.fontawesome.com/3b649de495.js" crossorigin="anonymous"></script>

    <%=
    if RailsBase.config.app.favicon_path
      favicon_link_tag(RailsBase.config.app.favicon_path)
    end
    %>
  </head>

  <body>
    <script type="text/javascript">
      // Load at top so available for rest of body oddy
      function set_cookie(name, value, path) {
        path ||= '/'
        document.cookie = `${name}=${value}; path=${path}`
      }

      function get_cookie(name) {
        var cookie = document.cookie
        return cookie.split('; ').find(row => row.startsWith(`${name}=`)).split('=')[1];
      }

      function modify_layout(){
        if(viewport_probable_mobile()){
          $('#_body_base_container').addClass('p-0')
        } else {
          $('#_body_base_container').removeClass('p-0')
        }
      }

      <% RailsBaseApplicationController::VIEWPORT_SIZES.each do |name, max_width| %>
        function viewport_at_least_<%= name %>(){
          return getViewportWidth() >= <%= max_width || 99_999 %>

        }
      <% end %>

      <%
        k = RailsBaseApplicationController::VIEWPORT_MOBILE_MAX
        size = RailsBaseApplicationController::VIEWPORT_SIZES[k] || 99_999
      %>
      function viewport_probable_mobile(){
        return getViewportWidth() <= <%= size  %>
      }

      function getViewportWidth() {
        // https://stackoverflow.com/a/8876069
        return Math.max(
          document.documentElement.clientWidth,
          window.innerWidth || 0
        )
      }
    </script>

    <% rails_base_alert = "alertid-#{(10**10*rand).to_i}" %>
    <% rails_base_success = "successid-#{(10**10*rand).to_i}"%>
    <div id='_body_base_container' class="container-fluid" style="overflow-x: hidden !important;">
      <% if current_user %>
        <%= render partial: 'rails_base/shared/logged_in_header'%>
      <% else %>
        <%= render partial: 'rails_base/shared/logged_out_header'%>
      <% end %>
      <% if notice %>
        <% if session.delete(:add_mfa_button) %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <div class="row">
              <div class="col-md-6">
                <%= notice %>
              </div>
              <div class="col-md-6">
                <%= link_to "Enable MFA", RailsBase.url_routes.user_settings_path(openmfa: true), method: :get, class: "btn btn-light float-right" %>
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        <% else %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <div id='<%= rails_base_success %>' class="alert alert-success alert-dismissible fade show" role="alert" style='display:none'>
        <div class='text'></div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id='<%= rails_base_alert %>' class="alert alert-danger alert-dismissible fade show" role="alert" style='display:none'>
        <div class='text'></div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <% if partial = RailsBase.config.appearance.header.partial %>
          <%= render partial: partial %>
        <% end %>
      <div >

      </div>
      <div class="p-1">
        <%= yield %>
      </div>

      <% if RailsBase.appearance.footer.enable? %>
      <footer id="base-footer" class="text-center">
        <div class="text-center p-2 <%= appearance_text_class %>">
          <%= raw RailsBase.appearance.footer.html %>
        </div>
      </footer>
    <% end %>
    </div>

    <% if RailsBase.appearance.back_to_top.enable? %>
      <a id="rails-base-back-to-top" class="btn btn-light btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>
      <script type="text/javascript">
        $(document).ready(function(){
          $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
              $('#rails-base-back-to-top').fadeIn();
            } else {
              $('#rails-base-back-to-top').fadeOut();
            }
          });
          $('#rails-base-back-to-top').click(function () {
            $('body,html').animate({
              scrollTop: 0
            }, 400);
          });
        });
      </script>
      <style type="text/css">
        .back-to-top {
            position: fixed;
            bottom: 50px;
            right: 25px;
            display: none;
        }
      </style>
    <% end %>

    <script>
      modify_layout();
      function _rails_base_display_success(msg){
        $('#<%= rails_base_alert %>').hide()
        $('#<%= rails_base_success %> .text').text(msg)
        $('#<%= rails_base_success %>').show()
      };

      function _rails_base_display_alert(msg){
        $('#<%= rails_base_success %>').hide()
        $('#<%= rails_base_alert %> .text').text(msg)
        $('#<%= rails_base_alert %>').show()
      };

      function _rails_base_hide_displays(){
        $('#<%= rails_base_alert %>').hide()
        $('#<%= rails_base_success %>').hide()
      };

      <%
        # dont load these when error page happens. The full stack of librarires are not
        # rendered and jquery/bootstrap are missing
      %>
      function _rails_base_reload_base_footer(){
        <% case footer_mode_case %>
        <% when :sticky %>
        $('#base-footer').addClass('fixed-bottom')
        <% when :bottom %>
        if($('#_body_base_container').height() <= window.innerHeight){
          $('#base-footer').addClass('fixed-bottom')
        } else {
          $('#base-footer').removeClass('fixed-bottom')
        }
        <% else %>
        <% end %>
      }

      function _rails_base_toggle_base_footer(status){
        if(status=='show') {
           $('#base-footer').show()
        } else if(status=='hide') {
           $('#base-footer').hide()
        } else  {
           $('#base-footer').toggle()
        }
      }

      _rails_base_reload_base_footer();

      <% unless defined?(@error_page) %>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('.b-tooltip').tooltip();
        // https://github.com/jmosbech/StickyTableHeaders
        $('.tableFixHead').stickyTableHeaders();

        // Attempt to set timezone on every request
        set_cookie('<%= RailsBaseApplicationController::TIMEZONE_OFFSET_COOKIE %>', new Date().getTimezoneOffset())
        });
      <% end %>
      <% if Rails.env == 'production' %>
      // Disable console logging
      console.log = function() {}
      <% end %>

      function goBack() {
        window.history.back();
      }

      $("table select").addClass('w-auto')
    </script>
  </body>
</html>
