<p>Hello <%= @user.full_name %>!</p>

<p>
	Event: <%= @event %> has occurred on your accont.
</p>
<% if @msg %>
<p>
  <%= @msg %>
</p>
<% end %>
<p>
	If this is in error please login to your account: <a href=<%= RailsBase::ApplicationMailer::CONTACT_URL %>> Login link for <%= Rails.application.class.parent_name %> </a>
</p>

</br>
</br>
Best wishes,</br>
<%= RailsBase.config.app.communication_name %> team
</br>
<a href=<%= RailsBase::ApplicationMailer::CONTACT_URL %>> <%= RailsBase::ApplicationMailer::CONTACT_URL %> </a>
