<p>Heya <%= @user.full_name %>!</p>

<p>
	Your email has begun the forget password flow. If this was not you, do not worry, your data is safe and sound. Feel free to disregard this email. </br>
	If you did forget your email please
	<a href="<%=@sso_url_for_user%>" target="_blank">
		Click Me
	</a>
	to initialize the password reset flow for your account.
</p>

</br>
Cant click the link? <a href="<%=@sso_url_for_user%>" target="_blank"> <%=@sso_url_for_user%>
</a>


</br>
</br>
Best wishes,</br>
<%= Rails.application.class.parent_name %> team</br>
Visit us at <a href="<%= RailsBase::EmailVerificationMailer::CONTACT_URL %>" target="_blank">
	<%= RailsBase::EmailVerificationMailer::CONTACT_URL  %>
