<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="row">
      <table class="table table-striped table-bordered">
        <tbody class="thead-dark">
          <tr>
            <th scope="col" class='text-right' style="width: 40%">
             Full Name
            </th>
            <td style="width: 40%">
              <%= current_user.full_name %>
            </td>
            <td style="width: 20%">
              <button class="btn btn_primary btn-block show-create-modal" data-toggle="modal" data-target="#modifyNameModal" type="button">Modify</button>
            </td>
          </tr>
          <tr>
            <th scope="col" class='text-right' style="width: 40%">
             MFA enabled?
            </th>
            <td style="width: 40%">
              <%= current_user.mfa_enabled %>
            </td>
            <td style="width: 20%">
              <button class="btn btn_primary btn-block show-create-modal" type="button">Modify</button>
            </td>
          </tr>
          <tr>
            <th scope="col" class='text-right' style="width: 40%">
             Password
            </th>
            <td style="width: 40%">
              <%= "<redacted>" %>
            </td>
            <td style="width: 20%">
              <button class="btn btn_primary btn-block show-create-modal" type="button" data-toggle="modal" data-target="#modifyPasswordModal">Modify</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" style="margin-top: 50px">
      <button type="button" class="btn btn_danger btn-block" data-toggle="modal" data-target="#destroyUserModal">
        Destroy account
      </button>
    </div>
  </div>
</div>


<%= render 'modify_name' %>
<%= render 'modify_password' %>
<%= render 'destroy_user' %>

