<form action="<%=root_path %>queues/<%= CGI.escape(queue.name) %>" method="post" style="display: inline">
  <%= csrf_tag %>
  <input class="btn btn-danger btn-xs" type="submit" name="delete" value="<%= t('Delete') %>" data-confirm="<%= t('AreYouSureDeleteQueue', :queue => h(queue.name)) %>" />

  <% if Sidekiq.pro? %>
    <% if queue.paused? %>
      <input class="btn btn-danger btn-xs" type="submit" name="unpause" value="<%= t('Unpause') %>" />
    <% else %>
      <input class="btn btn-danger btn-xs" type="submit" name="pause" value="<%= t('Pause') %>" />
    <% end %>
  <% end %>
</form>
