<% text_id = "#{type}_#{user.id}_#{(10**15*rand).to_i}" %>
<% span_id = "#{text_id}_span" %>
<% risky_modal_id = "#{text_id}_risky_modal" %>
<% partial_modal = "#{text_id}_partial_modal" %>

<% if disable_action %>
  <span style="width: 88%; float: left;">
    <%= current_value %>
  </span>
  <span style="width: 8%; float: right;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16" data-toggle='tooltip' title='<%= disable_msg %> '>
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
    </svg>
  </span>
</div>
<% else %>
<p style="text-align:left;">
  <span id='<%= text_id %>'> <%= current_value %> </span>
  <span id='<%= span_id %>' style="float:right;">
    <button class='risky-icon-og' style='border:none;, background: transparent;'>
      &#x270e;
    </button>
    <span class="risky-icon-mask spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none">
    </span>
  </span>
</p>


<div class="modal fade" id='<%= risky_modal_id %>' tabindex="-1" role="dialog" aria-labelledby="example_'<%= risky_modal_id %>'" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="col-12 modal-title text-center" id="exampleModalLabel">
          !&iexcl; Risky Change Warning !&iexcl;
        </h4>
      </div>
      <div class="modal-body" style="text-align: center;">
        <h5>You are about to modify a users <%= type %>. You must 2fa!</h5>
        <%= render partial: 'rails_base/shared/admin_risky_mfa', locals: { modal_id: risky_modal_id, user: user, parent: "#{parent}_#{type}", text: text_id, next_modal: partial_modal, modal_mapping: modal_mapping, modify_id: text_id } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="mr-auto btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#<%= risky_modal_id %>').appendTo('body');

  $('#<%= span_id %>').click(function() {
    admin_risky_icon_wait() // Disable double clicking and sending multiple mfas
    admin_risky_mfa_send('<%= risky_modal_id %>')
  });
</script>
<% end %>
