<% modal_prepend = "admin_#{modal_id}" %>
<% submit_method = "admin_#{modal_id}_submit_method" %>

<div class="modal fade" id='<%= modal_id %>' tabindex="-1" role="dialog" aria-labelledby="example_<%= modal_id %>" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header text-center">
        <h4 class="col-12 modal-title text-center" id="exampleModalLabel">
          !&iexcl; Risky Change Warning !&iexcl;
        </h4>
      </div>
      </div>
      <div class="modal-body" style="text-align: center;">
        <h4>Modify Phone for <%= user.full_name %>:</h4>
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Phone</label>
          <div class="form-row phone_number_input_stage justify-content-center">
            <div class="modal_phone_number_input">
              <div class="input-group input-group-lg mx-auto">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    US Phone Number
                  </span>
                </div>
                <%= phone_field_tag("#{modal_prepend}_phone_number", nil, style: "font-size:25px;", class: 'phone_us', maxlength: 14, size: 15)%>
                <div class="invalid-feedback">
                  <%= "Phone number must be a valid US phone number" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto my-1">
          <button id='<%= modal_prepend %>' class="btn btn-success">Submit</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="mr-auto btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.phone_us').mask('(000) 000-0000', {placeholder: '(___) ___-____'});

  $('#<%= modal_id %>').on('shown.bs.modal', function (e) {
    $('#<%= modal_prepend %>_phone_number').removeClass('is-invalid')
    $('#<%= modal_prepend %>_phone_number').focus();
  });

  $('#<%= modal_id %>').on('hidden.bs.modal', function (e) {
    // clear values
    $('#<%= modal_prepend %>_phone_number').val('');
  })

  function <%= submit_method %>(){
    var phone = $('#<%= modal_prepend %>_phone_number').val()
    var data = { 'phone_number': phone, 'id': '<%= user.id%>' }
    console.table(data)
    $.ajax({
      type: "POST",
      url: "<%= RailsBase.url_routes.admin_upate_phone_path%>",
      headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') },
      dataType: 'json',
      data: data,
      success: function(data) {
        $('#<%= modal_id %>').modal('hide')
        console.log(`text_id: #<%= text_id %>`)
        console.log(`phone: ${data.attribute}`)
        $('#<%= text_id %>').text(data.attribute)
        _rails_base_display_success(data.message)
      },
      error: function(xhr, status, error) {
        $('#<%= modal_id %>').modal('hide')
        _rails_base_display_alert(xhr.responseJSON.message)
      }
    })
  }

  $('#<%= modal_prepend %>').click(function( event ) {
    if ($('#<%= modal_prepend %>_phone_number').val().length == 14){
      $('#<%= modal_prepend %>_phone_number').removeClass('is-invalid')
      <%= submit_method %>();
      return;
    }
    $('#<%= modal_prepend %>_phone_number').addClass('is-invalid')
  });
</script>
