<div class='table-responsive' style="overflow-x:auto; width: inherit !important;">
  <table class="tableFixHead table table-striped table-bordered">
    <thead class="thead-dark text-center">
      <th> id </th>
      <th> AdminUser </th>
      <th> User </th>
      <th> Action </th>
      <th> Changed From </th>
      <th> Changed To </th>
      <th> Long Action </th>
      <th> Created </th>
    </thead>
    <tbody>
    <% paginated_records.each do |action| %>
      <tr>
        <td> <%=  action.id %> </td>
        <td>
          <% au = action.admin_user %>
          <%=  "[#{au.admin.to_s.ljust(10, ' ')}]<#{au.id.to_s.rjust(6, ' ')}> : #{au.full_name} " %>
        </td>
        <td>
          <% u = action.user %>
          <%=  "<#{u.id.to_s.rjust(6, ' ')} > : #{u.full_name}" rescue '----'%>
        </td>
        <td> <%=  action.action %> </td>
        <td> <%=  action.change_from || 'N/a' %> </td>
        <td> <%=  action.change_to  || 'N/a' %>  </td>
        <td> <%=  action.long_action  || 'N/a' %>  </td>
        <td> <%=  action.created_at %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item <%= 'disabled' unless paginate_admin_can_prev?(page_number: @starting_page, count_on_page: @count_on_page) %>">
      <p class="page-link" onClick="submit_paginate(<%= @starting_page - 1%>, <%= @starting_page %>, <%= @count_on_page %>)" style='cursor: pointer;'>Previous</p>
    </li>
    <% paginate_admin_history_range(start: @starting_page).each do |page| %>
    <% next unless page > 0 %>
      <% klasses = paginante_class_names(curr_page: @starting_page, page_number: page, count_on_page: @count_on_page) %>
      <li class="page-item <%= klasses %>">
        <% unless klasses.include?('disable') %>
          <p style='cursor: pointer; 'class="page-link page-item-admin-history-number" data-value='<%= page %>' onClick="submit_paginate(<%= page %>, <%= @starting_page %>, <%= @count_on_page %>)"> <%= page %> </p>
        <% else %>
        <p class="page-link" data-value='<%= page %>' > <%= page %> </p>
        <% end %>
      </li>
    <% end %>
    <li class="page-item page-item-admin-next <%= 'disabled' unless paginate_admin_can_next?(page_number: @starting_page, count_on_page: @count_on_page) %>">
      <p class="page-link" onClick="submit_paginate(<%= @starting_page + 1%>, <%= @starting_page %>, <%= @count_on_page %>)" style='cursor: pointer;'>Next</p>
    </li>
    <li>
    </li>
  </ul>
  <ul class="pagination justify-content-center" style="margin-top: -20px;">
  <div class='justify-content-center'>
    <div class='row'>
      <div class="col">
        <div class='input-group'>
          <div class="input-group-prepend">
            <div class="input-group-text">Elements</div>
          </div>
          <%= select_tag 'pagination_count', options_for_select(AdminAction::DEFAULT_PAGE_COUNT_SELECT_RANGE, @count_on_page), class: 'form-control', onchange: "submit_paginate(#{@starting_page}, #{@starting_page}, #{@count_on_page})" %>
        </div>
      </div>
      <div class="col">
        <div class='input-group'>
          <div class="input-group-prepend">
            <div class="input-group-text">User</div>
          </div>
          <%= select_tag 'rb_user_select', options_for_select(paginate_get_users_array, @starting_user), class: 'form-control', onchange: "submit_paginate(#{@starting_page}, #{@starting_page}, #{@count_on_page})" %>
        </div>
      </div>
      <div class="col">
        <div class='input-group'>
          <div class="input-group-prepend">
            <div class="input-group-text">Admin</div>
          </div>
          <%= select_tag 'rb_admin_user_select', options_for_select(paginate_get_admins_array, @starting_admin), class: 'form-control', onchange: "submit_paginate(#{@starting_page}, #{@starting_page}, #{@count_on_page})" %>
        </div>
      </div>

    </div>
  </ul>
</nav>
