<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><%= RailsBase.config.app.web_title_logged_in(current_user)%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% Rails.application.config.n_logged_in.each_with_index do |link_helper, index| %>
      <% next unless link_helper.display?(current_user) %>
      <li class="nav-item  <%= 'active' if index==0 %>">
        <a class="nav-link" href="<%= link_helper.url %>" <%= "target='_blank'" if link_helper.blank? %> >
          <%= link_helper.title %>
          <% if index==0 %>
          <span class="sr-only">(current)</span>
          <% end %>
        </a>
      </li>
      <% end %>
    </ul>
    <% if defined?(@error_page)%>
      <button onclick="goBack()" class="btn btn_warning">
        &#8592; Return to Previous page
      </button>
    <%else%>
    <button type="button" class="btn btn_secondary" data-toggle="modal" data-target="#settings_modal">
      My Settings
    </button>
    <%end%>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="settings_modal" tabindex="-1" role="dialog" aria-labelledby="appearance_mode_selectorTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appearance_mode_selectorTitle">My Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <div class='row'>
          <div class='col'>
            <% if RailsBase.config.mfa.enable? %>
              <% if current_user.mfa_enabled %>
                <button type="button" class="btn btn-block btn_info close-me" data-toggle="modal" data-target="#modifyMfamodal">
                    Modify 2fa Auth
                </button>
              <% else %>
                <button type="button" class="btn btn-block btn_info close-me" data-toggle="modal" data-target="#enableMfamodal">
                  Enable 2fa Auth
                </button>
              <% end %>
            <% end %>
          </div>
        </div>
        </br>
        <div class='row'>
          <div class='col'>
            <a class="btn btn_info btn-block" href="<%=RailsBase.url_routes.user_settings_path%>" role="button">Modify User</a>
          </div>
        </div>
        </br>
        <div class='row'>
          <div class='col'>
          <%= render partial: 'rails_base/shared/appearance_mode_selector', locals: { btn: 'btn-block', display: true } %>
          </div>
        </div>
        </br>
          <div class="dropdown-divider"></div>
        <div class='row'>
          <div class='col'>
          <%= button_to 'Logout', RailsBase.url_routes.signout_path, method: :delete, class: 'btn btn_danger btn-block'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if RailsBase.config.mfa.enable? %>
  <% if current_user.mfa_enabled %>
    <%= render partial: 'rails_base/shared/modify_mfa_auth_modal'%>
  <% else %>
    <%= render partial: 'rails_base/shared/enable_mfa_auth_modal'%>
  <% end %>
<% end %>

<% if @__admin_actions_array && @__admin_actions_array.present? %>
  <%= render partial: 'rails_base/shared/admin_actions_modal'%>
<% end %>

<% if session[RailsBase::Authentication::Constants::ADMIN_REMEMBER_REASON].present? %>
  <div class="alert alert-warning" role="alert">
    <%= render partial: 'rails_base/shared/admin_warning_alert' %>
  </div>
<% end %>

<% if RailsBase.config.auth.session_timeout %>
  <% show_warning = RailsBase.config.auth.session_timeout_warning %>
  <% if show_warning %>
    <%= render partial: 'rails_base/shared/session_timeout_modal'%>
  <% end %>
<script type="text/javascript">
  <%
  # this is to account for the delay
  timeout = RailsBase.config.auth.session_timeout
  %>
  sessionManager.init(<%= timeout %>, '<%= RailsBase.url_routes.heartbeat_without_auth_path %>', '<%= RailsBase.url_routes.heartbeat_with_auth_path %>' ,$('meta[name="csrf-token"]').attr('content'), <%= show_warning %>)

  $('.close-me').on('click', function (e) {
    $("#settings_modal").modal('hide');
  })
  $('#settings_modal').on('shown.bs.modal', function (e) {
    $('.navbar-collapse').collapse('hide');
  });
</script>
<% end%>



