
<div class='row'>
  <div class='col-md-10 offset-md-1'>
    <%= form_for(resource, as: resource_name, url: url) do |f| %>
      <div class="field form-group row">
        <div class="col-md-10 offset-md-1">
          <%= f.email_field :email, { autofocus: resource.email.empty? ? true : nil, autocomplete: "email", placeholder: :email, class: 'form-control'}.compact %>
        </div>
      </div>

      <div class="field form-group row">
        <div class="col-md-10 offset-md-1">
          <%= f.password_field :password, { autofocus: resource.email.empty? ? nil : true, autocomplete: "current-password", placeholder: :password, class: 'form-control'}.compact %>
        </div>
      </div>

      <div class="actions row">
        <div class="col-md-6 offset-md-1">
          <%= f.submit "Log in", class: "btn btn_success btn-block" %>
        </div>
        <div class="col-md-2">
          <a class="btn btn_primary btn-block" href="<%=Rails.application.routes.url_helpers.new_user_registration_path%>" role="button">Sign up</a>
            </div>
            <div class="col-md-2">
              <a class="btn btn_primary btn-block" href="<%=Rails.application.routes.url_helpers.new_user_password_path%>" role="button">Forgot Password?</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
