<h3><%= t('Queues') %></h3>

<div class="table_container">
  <table class="queues table table-hover table-bordered table-striped">
    <thead>
      <th><%= t('Queue') %></th>
      <th><%= t('Size') %></th>
      <th><%= t('Latency') %></th>
      <th><%= t('Actions') %></th>
    </thead>
    <% @queues.each do |queue| %>
      <tr>
        <td>
          <a href="<%= root_path %>queues/<%= CGI.escape(queue.name) %>"><%= h queue.name %></a>
          <% if queue.paused? %>
            <span class="label label-danger"><%= t('Paused') %></span>
          <% end %>
        </td>
        <td><%= number_with_delimiter(queue.size) %> </td>
        <td><% queue_latency = queue.latency %><%= number_with_delimiter(queue_latency.round(2)) %><%= (queue_latency < 60) ? '' : " (#{relative_time(Time.at(Time.now.to_f - queue_latency))})" %> </td>

        <td class="delete-confirm">
          __sidekiq_web_custom_replacement__
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div id="_sidekiq_web_block_screen_div_" style='display: none'>
  <div id="_sidekiq_web_block_screen_text_"></div>
</div>

<script type="text/javascript">
  function _sidekiq_web_block_screen(text) {
    document.getElementById('_sidekiq_web_block_screen_text_').innerHTML = text
    document.getElementById('_sidekiq_web_block_screen_div_').style.display = "block";
  }
</script>

<style>
#_sidekiq_web_block_screen_div_ {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
}

#_sidekiq_web_block_screen_text_{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
</style>
